*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.display {
    background-color:rgb(213, 177, 130);
    font-weight: bold;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.nav-bar {
    padding: 10px 25px;
    display: flex;
    justify-content: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url("https://i.insider.com/5c3e2df8c3100e0710201ae3?width=1200&format=jpeg&auto=webp");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-position: 80%;
    z-index: 9999;
}
.nav-bar h1{
    font-size: 75px;
    font-weight: bold;
    margin: 0;
    text-shadow: 0 0  10px rgba(0, 0, 0, 1.5);
    font-family: copperplate;
}

.hero {
    background-image: url("https://i.insider.com/5c3e2df8c3100e0710201ae3?width=1200&format=jpeg&auto=webp");
    background-size: cover;
    background-position: center;
    justify-content: center;
    background-attachment: fixed;
    padding: 80px;
}  
.hero h2 {
    font-weight: bold;
    color: white;
    margin: 0;
    text-shadow: 0 0  10px rgba(0, 0, 0, 1.5);
    font-family: copperplate;
    font-size: 60px;
    padding-top: 20px;
    padding-left: 40px
}

.hero label {
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: copperplate;
}
.grid-container button {
    background-color: rgb(7, 116, 43);
    border-radius: 10px;
}

.hero button {
    background-color: rgb(213, 177, 130);
    border-radius: 10px;
    margin: 0.5em;
}

.hero div {
    float:inline-end;
}
.footer{
    font-family: copperplate
    ;
}

.grid-container {
    background-color: rgb(213, 177, 79);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* .button-padding {
    margin: 0.7em;
} */

/* Local Styling Note */
/* margin = .2em */